/* Common Css Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}


ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}